@{
    ViewData["Title"] = "Início";
}

<div class="jumbotron">
    <h1>Plataforma para agentes e guias de viagens</h1>
</div>
   <div class="row">
    <div class="col-md-4">
        <h2>Bem-vinda à TRIP</h2>
        <p>
            Inspire corredores
        </p>
    </div>
    <div class="col-md-4">
        <h2>Faça parte da comunidade. Ajudaremos você a cada etapa.</h2>
        <p>Vamos lá!</p>
        <p><a class="btn btn-default" href="https://sites.google.com/view/centraldeajudatrip">Veja nosso tutorial</a></p>
    </div>
    <div class="col-md-4">
        <h2>Visualização de preço</h2>
        <p>Verifique o preço de cada hospedagem.</p>
        <p><a class="btn btn-default" href="https://sites.google.com/view/centraldeajudatrip">Veja nosso tutorial</a></p>
    </div>
</div>